<footer>
    <h3>Controle de Estoque</h3>
    <p>Desenvolvido por <strong>Fernando Alves</strong> | <a href="https://github.com/lfalvespe" target="_blank">GitHub</a> | <a href="https://instagram.com/lfalvespe" target="_blank">Instagram</a></p>
    <p>&copy; 2026 Todos os direitos reservados.</p>
</footer>